<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
      		<pattern>%-30(%d %-5level) [%thread] %logger{50} - %msg%n</pattern>
      		<immediateFlush>true</immediateFlush>
    	</encoder>
  	</appender>

	<logger name="org.springframework" level="debug"/>

	<logger level="INFO" additivity="false" name="System.out">
    	<appender-ref ref="CONSOLE"/>
  	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>